<div class="track-container">
  {{#each response.items}}
    <div class="track">
      <a href="/tracks/{{id}}">View Tracks</a>
      <img src="{{images.1.url}}" alt="{{name}}" />
      <h2>{{name}}</h2>
    </div>
  {{/each}}
</div>