<div class="track-container">
  {{#each response}}
    <div class="track">
      <img src={{this.images.1.url}} />
      {{this.name}}
      <a href="/albums/{{this.id}}">View Albums</a>
  {{/each}}
</div>
