.home-page-photo {
  background-image: url("/images/spotify-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.531);
  padding: 90px 200px;
}

.no-background {
  background-image: none;
}
.btn-color {
  background-color: red;
  color: white;
}

.track-css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  /* width: 600px; */
  height: 60px;
}
.track-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 6rem 6rem 6rem;
  gap: 1rem;
  padding: 1.5rem;
  background-color: rgb(97, 93, 93);
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 24%;
  background-color: violet;
}

.track h3,
.track span {
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

audio {
  width: 100%;
}
